{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="{{ delay_seconds }};url={{ url }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration Success</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% tailwind_css %}
</head>

<body>
    <div class="items-center justify-center mx-auto">
    <p class="text-blue-900 font-bold text-4xl">Accounted Created Successfully</p>
    </div>
</body>
</html>